{% extends "master.html" %}

{% block stylesheet %}
<link rel="stylesheet" src="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css"
        integrity="sha512-RT/9M3vzjYojy97YiNTZbyrQ4nJ+gNoinZKTGSVvLITijfQIAIDNicUe+U2KaeOWo9j7IbRzRisx/7eglOc+wA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<form method='POST'>
    {{ form.csrf_token }}
    {% for field in form %}

        {% if field.label == "pokemon_id" %}
        <input class="dropdown-input" id="pokemon_id" placeholder="Choose Pokemon" value="{{ request.form['pokemon_id'] }}"/>
        {% else %}
        {{ field }}
        {% endif %}


        <br>
        <br>
    {% endfor %}
        <button type="submit">Submit</button>
</form>
{% endblock %}

{% block scripts %}

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"  
            integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" 
            crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.js"
            integrity="sha512-HcBl0GSJvt4Qecm4srHapirUx0HJDi2zYXm6KUKNNUGdTIN9cBwakVZHWmRVj4MKgy1AChqhWGYcMDbRKgO0zg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    // Get Pokemon autocomplete list
    $(document).ready( function () {
        console.log("Sending an api request for pokemon_id!");
        $.ajax({
            url: '/api/pokedex/pokemon_id',
            type: "GET",
            data: {'pokemon_id': 'None'},
            success: function(data) {
                console.log("Data!:")
                console.log(data);
                new Awesomplete(document.getElementById('pokemon_id'), {list: data['data']});
            },
            failure: function(data) {
                console.log("Request failed");
                console.log(data);
            }
        });
    } );
    $('#pokemon_id').on('blur', function () {
        var pokemon_id = $('#pokemon_id').val();
        console.log('pokemon_id changed, value is now ', $('#pokemon_id').val());

        if (pokemon_id !== undefined) {
            console.log("Sending an api request for fast_move_id!");
            var fast_move_id_val = $( '#fast_move_id' ).val();
            $.ajax({
                url: '/api/pokedex/fast_move_id',
                type: "GET",
                data: {'pokemon_id': pokemon_id},
                success: function(data) {
                    console.log("Data!:")
                    console.log(data);
                    $("#fast_move_id").autocomplete({ source: data['data'] });
                },
                failure: function(data) {
                    console.log("Request failed");
                    console.log(data);
                }
            });

            console.log("Sending an api request for first_charged_move_id!");
            $.ajax({
                url: '/api/pokedex/first_charged_move_id',
                type: "GET",
                data: {'pokemon_id': pokemon_id},
                success: function(data) {
                    console.log("Data!:")
                    console.log(data);
                    $("#first_charged_move_id").autocomplete({ source: data['data'] });
                },
                failure: function(data) {
                    console.log("Request failed");
                    console.log(data);
                }
            });

            console.log("Sending an api request for second_charged_move_id!");
            $.ajax({
                url: '/api/pokedex/second_charged_move_id',
                type: "GET",
                data: {'pokemon_id': pokemon_id},
                success: function(data) {
                    console.log("Data!:")
                    console.log(data);
                    $("#second_charged_move_id").autocomplete({ source: data['data'] });
                },
                failure: function(data) {
                    console.log("Request failed");
                    console.log(data);
                }
            });
        }
    } );  
</script>
{% endblock %}