{% extends "master.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="mx-2 my-2">
  <table id="data" class="table table-dark hover">
      <thead>
      <tr>
          {% for col in columns %}
          <th>{{ col }}</th>
          {% endfor %}
      </tr>
      </thead>
      <tbody>
      </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/utils.js"></script> 
  <script>
    var columns = generate_columns({{columns|safe}});
    var endpoint = '/api/' + '{{ title|safe }}';
    console.log(endpoint);
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: endpoint,
        serverSide: true,
        columns: columns,
      });
    });
  </script>
{% endblock %}
