{% extends "master.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="mx-2 my-2">
  <table id="data" class="table table-dark hover">
      <thead>
      <tr>
          {% for col in columns %}
          <th>{{ col }}</th>
          {% endfor %}
      </tr>
      </thead>
      <tbody>
      </tbody>
  </table>
  {% if button_url is not none %}
  <a href="{{ button_url }}" class="btn btn-primary">{{ button_name }}</a>
  {% endif %}
  
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
  <script type="text/javascript" src="/static/js/utils.js"></script> 
  <script>
    var columns = generate_columns({{columns|safe}});
    var endpoint = '/api/' + '{{ title|safe }}';
    console.log(endpoint);
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: endpoint,
        serverSide: true,
        columns: columns,
      });
    });
  </script>
{% endblock %}
