{% extends "master.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            {% for col in columns %}
            <th>{{ col }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/pokedex',
        serverSide: true,
        columns: [
          {data: 'pokedex_number'},
          {data: 'name'},
          {data: 'first_type_id', orderable: false},
          {data: 'second_type_id', orderable: false},
          {data: 'base_atk'},
          {data: 'base_def'},
          {data: 'base_sta'}
        ],
      });
    });
  </script>
{% endblock %}
